@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(47, 37, 78);
  font-family: "Montserrat", sans-serif;
  }
.heading{
  color: azure;
  font-size: 40px;
  z-index: 1;
  text-align: center;
}
@media(max-width:800px){
  .heading{
    margin: 15px 0;
    font-size: 35px;
  }
}
